
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }
  
  #main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit, #saveButton, #submitted, #savenotebutton {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }


/*
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family : Verdana,Tahoma, sans-serif;
}

.box{
    width: 380px;
    height: 500px;
    background-color:rgba(59, 59, 59, 0.7);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}

.box img{
	width:100px;
    margin-top:-50px ;
}

.header {
	width: 300px;
    height: 50px;
    text-transform: uppercase;
	display: inline-flex;
    padding-top: 20px;
    padding-bottom: 0;
	justify-content: space-between;
}

.header a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
	display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
	justify-content: center;
    cursor:pointer;
}

.header .active {
    color: #90a0d5;
	font-weight: bold;
	position: relative;
}

.header .active:after {
	position: absolute;
    border: none;
	content: "";
}

#errorMsg{
    color:rgb(150, 0, 0);
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;

}

.content{
    display: inline-flex;
    overflow: hidden;
}

form {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
	flex-shrink: 0;
	flex-direction: column;
	transition: right 0.5s;
}

p {
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radioLeft
{
    text-align:left;
}

.login a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

}

.extend form {
	right: 100%;
}

input[type=text], input[type=password], input[type=email]{
	display:block;
    position: relative;
	border: 4px solid #ffffff;
	padding: 12px;
    margin-bottom: 15px;
    width: 100%;
 	box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

input[type=text]:hover,  input[type=password]:hover, input[type=email]:hover{
    border: 4px solid #5f78cb;

}

input[type=submit]{
    display:block;
    position: relative;
    border: 3px solid #5f78cb;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 25px;
    background-color: #3761ea ;
    text-align:center;
    font-size: 20px;
    color: #ffffff;
	cursor:pointer;
    outline: none;
}
	
input[type=submit]:hover{
	 background-color:#ffffff;
     color: #000000;
     font-weight: bold;
}
input[type=checkbox]{
    background-color: #000000;
}
#check{
    margin-top: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}
*/